.main-mail-container {
  background-color: #e8e8e8;
  padding: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-size: 35px;
  margin-top: -40px;
}
p {
  display: flex;
  margin-left: -300px;
}
i {
  font-size: 2rem;
  margin-inline: 0.5rem;
}
i:hover {
  cursor: pointer;
}
i:active {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
}
